footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFF;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    footer {
        text-align: center;
        font-size: 1rem;
    }
}