main {
    flex-grow: 1; 
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}