* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#root {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

